@import url(../utils/_dFlex.scss);

.header {
  border-bottom: 1px solid var(--border-color);
  padding-top: 24px;
  padding-bottom: 25px;

  @include tablet {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }

  &-container {
    @extend %d-flex;
    justify-content: space-between;
    @include tablet {
      padding: 15px;
    }
  }

  &-navigations {
    @extend %d-flex;
    gap: 90px;
    @include tablet {
      gap: 88px;
    }
  }

  &-menu {
    @extend %d-flex;
    gap: 50px;

    @include mobile {
      display: none;
    }
    @include tablet {
      gap: 56px;
    }
  }
}
