.logo {
  @extend %d-flex;

  @include tablet {
    display: flex;
  }
}

.logo__partFirst {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: var(--color-hover);
  line-height: 1.38;
  @include mobile {
    font-size: 24px;
  }
  @include tablet {
    font-size: 24px;
  }
}

.logo-footer {
  @include mobile {
    text-align: center;
  }
}

.logo__partSecond {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: var(--main-color);
  line-height: 1.38;
}

.logo-footer__second {
  color: var(--text-color);
}

.logo-footer__spacing {
  display: block;
  margin-bottom: 20px;
}
