.mobile-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  top: 0;
  left: 0;
  overflow: scroll;
  @media screen and (max-width: 430px) {
    width: 100%;
  }
  > .mobile-menu__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-top {
    > ul {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }
  &-bottom {
    & > :first-child {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }
}

.mobile-menu__content {
  padding: 48px 40px;
  @media screen and (max-width: 430px) {
    padding: calc(5px + (40 - 5) * ((110vw - 100px) / (1200 - 100)));
  }
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: #212121;
  &:hover,
  &:focus {
    color: var(--color-hover);
  }
}
.mobile-menu__info {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  @media screen and (max-width: 430px) {
    font-size: calc(15px + (24 - 15) * ((110vw - 100px) / (1200 - 100)));
  }

  &-phone {
    font-size: 34px;
    font-weight: 500;
    line-height: calc(40px / 34px);
    letter-spacing: 0.02em;
    color: #2196f3;
    @media screen and (max-width: 430px) {
      font-size: calc(20px + (34 - 20) * ((110vw - 100px) / (1200 - 100)));
    }
  }

  &:hover,
  &:focus {
    color: var(--color-hover);
  }
}
.mobile-menu__social {
  width: 332px;
  gap: 20px;
  margin-top: 64px;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  @media screen and (max-width: 450px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 430px) {
    width: 100%;
  }
  :nth-child(1),
  :nth-child(2),
  :nth-child(3) {
    &:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}
.mobile-menu-social-link {
  // width: calc((100% - 80px - 80px) / 4);
  grid-column-end: span 1;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right: 10px;
}
.mobile-menu__btn-close {
  position: absolute;
  right: 15px;
  top: 10px;
  background-color: #fff;
  border: none;
  border-radius: 50%;

  &:hover,
  &:focus,
  &:active {
    fill: var(--color-hover);
    outline: var(--color-hover);
  }
}

.mobile-menu__btn-open {
  display: none;
  background-color: transparent;
  border: none;
  @include mobile {
    display: block;
  }
  &:hover,
  &:focus,
  &:active {
    fill: var(--color-hover);
    outline: var(--color-hover);
  }
}
