// Portfolio component

.navigation-block {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;

}

.navigation-block__btns {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--main-color);
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  transition-duration: 250ms;
  transition-property: color, background-color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--text-color);
    background-color: var(--color-hover);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}
