.social-link {
  display: flex;
  justify-content: center;
  gap: 10px;
  &-footer {
    gap: 10px;
    &- > li {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.social-card {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255,255,255,.1);
}

.social-card__team {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  gap: 22px;
  transition-duration: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
    outline: none;
    fill: white;
  }
  &:hover > svg,
  &:focus > svg {
    fill: white;
  }
}
