:root {
  --main-color: #000000;
  --color-hover: #2196f3;
  --color-info: #757575;
  --title-color: #212121;
  --color-button: #188ce8;
  --text-color: #ffffff;
  --address-color: #ffffff99;
  --color-footer: #2f303a;
  --location-color: #fffafa;
  --border-color: #ececec;
  --team-color: #f5f4fa;
  --portfolio-border: #eeeeee;
}